<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hifitoy">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@android:color/transparent">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <activity android:name=".activities.DiscoveryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="application/tpr" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="file"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.tpr"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.OptionsActivity"
            android:label="Options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.AutoOffActivity"
            android:label="@string/auto_off_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.AdvertiseActivity"
            android:label="Advertise mode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.presetmanager.PresetManagerActivity"
            android:label="Preset manger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.presetmanager.PresetDetailActivity"
            android:label="Preset detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filters.FiltersActivity"
            android:label="Filters"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".activities.compressor.CompressorActivity"
            android:label="Compressor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.compressor.TimeConstActivity"
            android:label="Time const"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.presetmanager.mergetool.MergeToolActivity"
            android:label="Merge tool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.options.presetmanager.textimporttool.PresetTextImportActivity"
            android:label="Text import"
            android:screenOrientation="portrait" />

    </application>

</manifest>